<!DOCTYPE html>
<style>
  body { font-family: "Arial" }
  h2{color: #3322EE; font-style: bold; background: #aaCCEE;}
  h3{color: #DDDDDD; font-style: bold; background: #333333;}

  /* table */
  table {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
  }
  th { color: #DDDDDD; background : #4444FF; }
  table, td, th { border: 2px #888888 solid; border-collapse: collapse;}

  /* audio */
  audio { height : 20px; width: 300px; }

  /* code */
/*  pre { color: #00FF00; background : #000000; }*/
</style>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>{{ page.title }}</title>
</head>
<body>
  {{ content }}
  <hr/>
  <center> Copyright ©️ Hideyuki Tachibana. All rights reserved. </center>
  <center> <a href="https://tachi-hi.github.io">[Link to the author's website]</a> </center>
  </body>
</body>
